/* Common HTML tags */

body {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-family: 'Source Sans Pro', sans-serif !important;
    font-size: 1.0rem;
    background: #F7F7F7;
    position: relative;
    min-height: 100vh;
    text-align: justify;
}

h1 {
    font-weight: bold !important;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.4rem;
    margin-top: 1.5rem;
    margin-bottom: 0.7rem;
}

a {
    cursor: pointer;
}

a.fas:hover {
    color: #303030;
}

a .fas, a .fab {
    margin-left: 0.3em;
    margin-right: 0.1em;
}

/* Core design: sectioning, header, footer, buttons */

.color-firebrick { color: firebrick; }
.color-cornflowerblue { color: cornflowerblue; }
.color-verydarkgrey { color: #505050; }
.color-darkgrey { color: darkgrey; }
.color-red { color: red; }

.section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.navbar-scrolled {
    box-shadow: 0 3px 10px #e2e2ff;
}

.navbar a {
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    font-weight: bold;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-custom {
    background: #F7F7F7;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #E7E7E7;
    color: #303030;
    font-size: 80%;
}

.page-footer a {
    color: #303030;
    text-decoration: none;
}

/* Error box */

.card-header {
    cursor: pointer;
    font-size: 1.4rem;
    background: none;
}

.card-header .float-right {
    line-height: 2rem;
}

.card {
    display: block;
    background-color: rgba(0, 0, 0, 0.02)
}

.card h3:first-child { 
    margin-top: 0px;
}

.card-header.collapsed .fa-chevron-down,
.card-header .fa-chevron-right {
  display: none;
}

.card-header.collapsed .fa-chevron-right,
.card-header .fa-chevron-down {
  display: inline-block;
}