---
layout: default
title:  Usable X.509 errors
slug:   index
---
<div class="section"><div class="container">
    <h1 id="home">Making X.509 errors usable.</h1>
    <div class="lead">
    <p>Validating X.509 certificates correctly turns out to be pretty complicated (e.g. <a href="http://www.cs.utexas.edu/~shmat/shmat_ccs12.pdf" target="_blank">Georgiev2012</a>). Yet certificate validation is absolutely crucial for secure communication on the Internet (think <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security" target="_blank">TLS</a>).</p>
    <p>Our goal is to simplify the ecosystem by consolidating the errors and their documentation (similarly to <a href="https://blog.mozilla.org/blog/2017/10/18/mozilla-brings-microsoft-google-w3c-samsung-together-create-cross-browser-documentation-mdn/" target="_blank">web documentation</a>) and by explaining better what the validation errors mean.</p>
    </div>
    <div class="row intro">
    <div class="col-md-4">
        <div class="card card-body">
            <h4>Samples and documentation</h4>
            <p>For every error, we aim to provide an example certificate ({% include icon.html icon="certificate" %}), documentation from OpenSSL ({% include icon.html icon="openssl-docs" %}) and other libraries ({% include icon.html icon="gnutls-docs" %}).</p>
            <p>We plan to include the error frequency based on IP-wide scans and detailed explanation of the consequences.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body">
            <h4>Multiple libraries</h4>
            <p>Our consolidated taxonomy aims for eight most used TLS-enabled libraries. The main structure is based on <a href="https://www.openssl.org/" target="_blank">OpenSSL</a> as it is by far the most used library in the domain of TLS.</p>
            <a href="https://docs.google.com/spreadsheets/d/1AYX02k49lBhrZ7fLoh5UsEaXU-OND27zX4LexnzVR-k/edit?usp=sharing" target="_blank" class="btn btn-primary">{% include icon.html icon="button-table" %} Error mapping</a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-body">
            <h4>Methodology</h4>
            <p>We extend the existing research on security, TLS and documentation design. Details are described on a separate page.</p>
            <a href="/methodology" class="btn btn-primary">{% include icon.html icon="button-methodology" %} Detailed methodology</a>
        </div>
    </div>
    </div>
</div></div>

{% for category in site.data.errors %}

<div class="section"><div class="container" markdown="1">
    <h2 id="{{ category.title | slugify }}">{{ category.title }}</h2>

    {% assign errors = site.errors | where:"tags",category.tag | sort: 'weight' %}
    {% for error in errors %}
    {% include error_box.html page=error %}
    {% endfor %}
</div></div>

{% endfor %}

<div class="section"><div class="container clearfix">
    <h2 id="about">About the project</h2>
    <div class="col-lg-3 col-md-4 col-6 float-right">
        <a href="https://crocs.fi.muni.cz" target="_blank">
            <img class="crocs" src="/assets/img/crocs.png" alt="CRoCS FI MU" title="CRoCS FI MU">
        </a>
    </div>
    <p>The project is developed at the <a href="https://www.fi.muni.cz/research/crocs/" target="_blank">Centre for Research on Cryptography and Security (CRoCS)</a> at <a href="http://www.muni.cz/" target="_blank">Masaryk University</a>, Brno, Czech Republic by <a href="https://crocs.fi.muni.cz/people/mukrop" target="_blank">Martin Ukrop</a> and Pavol Žáčik. The source files are freely available in <a href="{{ site.repo-url }}" target="_blank">{% include icon.html icon="github" %}the project repository</a> on GitHub.</p>
    <p>The authors are grateful for the financial support by and <a href="https://research.redhat.com/" target="_blank">Red Hat Czech</a> and <a href="https://www.kiwi.com" target="_blank">Kiwi.com</a>.
</div></div>
