<div class="section"><div class="container clearfix">
    <h2 id="about">About the project</h2>
    <div class="col-lg-3 col-md-4 col-6 float-right">
        <a class="no-ext-link-icon" href="https://crocs.fi.muni.cz">
            <img class="crocs" src="/assets/img/crocs.png" alt="CRoCS FI MU" title="CRoCS FI MU">
        </a>
    </div>
    <p>The project is developed at the <a href="https://www.fi.muni.cz/research/crocs/">Centre for Research on Cryptography and Security (CRoCS)</a> at <a href="http://www.muni.cz/">Masaryk University</a>, Brno, Czech Republic by <a href="https://crocs.fi.muni.cz/people/mukrop">Martin Ukrop</a>, Pavol Žáčik, Eric Valčík with the help of Michaela Balážová and Matěj Grabovský. For more details, see the ReadMe file in <a href="{{ site.repo-url }}">{% include icon.html icon="github" %}the project repository</a> on GitHub.</p>
    <p>The authors are grateful for the financial support by <a href="https://research.redhat.com/">Red Hat Czech</a> and <a href="https://www.kiwi.com">Kiwi.com</a>.
</div></div>
