{% for category in site.data.errors %}

{% assign errors = site.data[page.library] | where:"tags", category.tag | sort: 'weight' %}
{% unless errors.size == 0 %}
    <div id="{{ page.library }}" class="section linked-anchor"><div class="container" markdown="1">
        <h2 id="{{ category.title | slugify }}">{{ category.title }}</h2>
        <p>
        {{ category.description }} <br/>
        {{ category.links }}
        </p>

        {% for error in errors %}
        {% include error_box.html page=error %}
        {% endfor %}
    </div></div>
{% endunless %}

{% endfor %}

