<div class="error-box linked-anchor" id="{{ include.page.slug }}-link">
<div class="card-header clearfix" data-toggle="collapse" href="#{{ include.page.slug }}" role="button" aria-expanded="true" aria-controls="#{{ include.page.slug }}">
    <span class="fa fa-fw fa-chevron-down"></span> <span class="fa fa-fw fa-chevron-right"></span>
    <span class="openssl-code" title="{{ include.page.code }}">{{ include.page.code | replace: "_", "_&shy;" }}</span>
    
    {% assign mapping = site.data.mapping[page.library][include.page.code] %}

    {% unless mapping.chains.size == 0 %}
        {% include icon.html icon="certificate" float="float-right" %}
    {% endunless %}

    {% if include.page.unused %}
        {% include icon.html icon="unused" float="float-right" %}
    {% endif %}
    
    {% assign mapping-present = false %}
    {% for lib in site.data.libraries %}
        {% if lib.name != page.library and mapping.correspondence[lib.name] != Nil and mapping.correspondence[lib.name].size != 0 %}
            {% include icon.html icon="error-link" float="float-right" %}
            {% assign mapping-present = true %}
            {% break %}
        {% endif%}
    {% endfor %}    
    
    {% if include.page.new-docs %}
        {% include icon.html icon="our-docs" float="float-right" %}
    {% endif %}

</div>
<div class="collapse show" id="{{ include.page.slug }}">
    <div class="card card-body">
        {% if include.page.code %}
            {% assign library=site.data.libraries | where: "name", page.library | first %}

            <!-- new docs -->
            {% if include.page.new-docs %}
                <h3>{% include icon.html icon="our-docs" %}Redesigned documentation:</h3>
                {{ include.page.new-docs | markdownify }}
            {% endif %}

            {% if include.page.docs %}
                <h3>{% include icon.html icon="docs-book" %}Original documentation:</h3>
                <p>{{ include.page.docs }}<span class="text-muted">(<a class="color-reset" href="{{ library.docs-source }}">source</a>)</span></p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}

            {% if include.page.message %}
                <h3>{% include icon.html icon="message" %}Original error message:</h3>
                <p>{{ include.page.message | replace: "<", "&lt;" }}<span class="text-muted">(<a class="color-reset" href="{{ library.message-source }}">source</a>)</span></p>
            {% endif %}
        {% endif %}

        {% if include.page.unused %}
            <p><i><b>{% include icon.html icon="unused" %}Unused: </b>{{ include.page.unused }}</i></p>
        {% endif %}

        
        {% unless mapping.chains.size == 0 %}
            <h3>{% include icon.html icon="certificate" %}Example certificates</h3>
            <p>Below you can download one or more example malformed certificates causing {{ include.page.code | replace: "_", "_&shy;" }} in {{ site.data.libraries | where: "name", page.library | map: "title" }}. If you are interested in generating these certificates yourself, see the corresponding generating script for each case on the project Github.</p>
            <ul class="mb-0">
            {% for chain in mapping.chains %}
                <li>Case&nbsp;{% include icon.html icon="zip" %}<a href="/assets/archives/{{ chain }}.zip">{{ chain }} </a>
                    (see the&nbsp;{% include icon.html icon="github" %}<a href="{{ site.repo-url }}/tree/master/validation/certs/scripts/chains/{{ chain }}/generate.py">generation script</a>)</li>
                {% if site.data.certs[chain][page.library] %}
                <p>Validate manually with: <code class="highlighter-rouge">{{ site.data.certs[chain][page.library] }}</code></p>
                {% endif %}
            {% endfor %}
            </ul>

        {% endunless %}
        
        {% if mapping-present == true %}
            <h3>{% include icon.html icon="error-link" %}Corresponding errors</h3>
            <p>What validation errors do other libraries give for certificates causing {{ include.page.code | replace: "_", "_&shy;" }} in {{ site.data.libraries | where: "name", page.library | map: "title" }}? Below, you can see the basic overview based on the example certificates from the previous section. <span class="font-italic">(The list may be incomplete.)</span></p>
            <ul class="mb-0">
            {% for lib in site.data.libraries %}
                {% unless lib.name == page.library or mapping.correspondence[lib.name].size == 0 %}
                    <li>
                    {{ lib.title }}:
                        {% for error in mapping.correspondence[lib.name] %}
                            <a href="/{% if lib.name != "openssl" %}{{ lib.name }}{% endif %}#{{ error | slugify }}-link">{{ error | lstrip | replace: "_", "_&shy;" }}</a>
                            {%- if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </li>
                {% endunless%}
            {% endfor %}
            </ul>
        {% endif %}
  </div>
</div>
</div>
