<div class="error-box linked-anchor" id="{{ include.page.slug }}-link">
<div class="card-header clearfix" data-toggle="collapse" href="#{{ include.page.slug }}" role="button" aria-expanded="true" aria-controls="#{{ include.page.slug }}">
    <span class="fa fa-fw fa-chevron-down"></span> <span class="fa fa-fw fa-chevron-right"></span>
    <span class="openssl-code" title="{{ include.page.code }}">{{ include.page.code | replace: "_", "_&shy;" }}</span>
    
    {% assign mapping = site.data.mapping[page.library][include.page.code] %}

    {% unless mapping.chains.size == 0 %}
        {% include icon.html icon="certificate" float="float-right" %}
    {% endunless %}

    {% if include.page.unused %}
        {% include icon.html icon="unused" float="float-right" %}
    {% endif %}
    
    {% assign mapping-present = false %}
    {% for lib in site.data.libraries %}
        {% if lib.name != page.library and mapping.cooccurrence[lib.name] != Nil and mapping.cooccurrence[lib.name].size != 0 %}
            {% include icon.html icon="error-link" float="float-right" %}
            {% assign mapping-present = true %}
            {% break %}
        {% endif%}
    {% endfor %}    
    
    {% if include.page.new-docs %}
        {% include icon.html icon="our-docs" float="float-right" %}
    {% endif %}

</div>
<div class="collapse show" id="{{ include.page.slug }}">
    <div class="card card-body">
        {% if include.page.code %}
            {% assign library=site.data.libraries | where: "name", page.library | first %}

            <!-- new docs -->
            {% if include.page.new-docs %}
                <h3>{% include icon.html icon="our-docs" %}Redesigned documentation:</h3>
                {{ include.page.new-docs | markdownify }}
            {% endif %}

            {% if include.page.docs %}
                <h3>{% include icon.html icon="docs-book" %}Original documentation:</h3>
                <p>{{ include.page.docs }}<span class="text-muted">(<a class="color-reset" href="{{ library.docs-source }}">source</a>)</span></p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}

            {% if include.page.message %}
                <h3>{% include icon.html icon="message" %}Original error message:</h3>
                <p>{{ include.page.message | replace: "<", "&lt;" }}<span class="text-muted">(<a class="color-reset" href="{{ library.message-source }}">source</a>)</span></p>
            {% endif %}
        {% endif %}

        {% if include.page.unused %}
            <p><i><b>{% include icon.html icon="unused" %}Unused: </b>{{ include.page.unused }}</i></p>
        {% endif %}

        
        {% unless mapping.chains.size == 0 %}
            <h3>{% include icon.html icon="certificate" %}Example certificates</h3>
            
            <p>Download certificates causing this error using the links below. If you are interested in generating such certificate yourself, see the generating script for each case on the project Github.
            <ul class="list-unstyled mb-0">
            {% for chain in mapping.chains %}
                <li> 
                    {% include icon.html icon="zip" %}<a href="/validation/certs/archive/{{ chain }}.zip">{{ chain }} </a>
                    -
                    {% include icon.html icon="github" %}
                    <a href="{{ site.repo-url }}/tree/master/validation/certs/scripts/chains/{{ chain }}/generate.py">script</a>
                </li>
            {% endfor %}
            </ul>
            
            <!--{% if include.page.verify-command %}
                {% assign library=site.data.libraries | where: "name", page.library | first %}
                <p>Validate with: <code class="highlighter-rouge">{{ include.page.verify-command }}</code></p>
            {% endif %}!-->
        {% endunless %}
        
        {% if mapping-present == true %}
            <h3>{% include icon.html icon="error-link" %}Co-occurring errors:</h3>
            <ul class="list-unstyled mb-0">
            {% for lib in site.data.libraries %}
                {% unless lib.name == page.library or mapping.cooccurrence[lib.name].size == 0 %}
                    {{ lib.title }}:
                    {% for error in mapping.cooccurrence[lib.name] %}
                        <li>
                            <a href="/{% if lib.name != "openssl" %}{{ lib.name }}{% endif %}#{{ error | slugify }}-link">{{ error | lstrip }}</a>
                        </li>
                    {% endfor %}
                {% endunless%}
            {% endfor %}
            </ul>
        {% endif %}
  </div>
</div>
</div>
