{% assign library = site.data.libraries | find:"name",include.library %}

<div class="section"><div class="container">

  <h1 id="{{ library.name | slugify }}">{{ library.title }}</h1>
  {% if library.description %}
    <div class="lead">
      <p>{{ library.description }}</p>
    </div>
  {% endif %}

  {% for category in site.data.errors %}

  <div class="section"><div class="container" markdown="1">
      <h2 id="{{ category.title | slugify }}">{{ category.title }}</h2>
      <p>
      {{ category.description }} <br/>
      {{ category.links }}
      </p>

      {% assign errors = site.data[library.name] | where:"tags",category.tag %}
      {% if errors %}
        {% assign errors = errors | sort: 'weight' %}
      {% endif %}
      {% for error in errors %}
      {% include error_box.html page=error %}
      {% endfor %}
  </div></div>

  {% endfor %}

</div></div>
