<div class="error-box linked-anchor" id="{{ include.page.slug }}-link">
<div class="card-header clearfix" data-toggle="collapse" href="#{{ include.page.slug }}" role="button" aria-expanded="true" aria-controls="#{{ include.page.slug }}">
    <span class="fa fa-fw fa-chevron-down"></span> <span class="fa fa-fw fa-chevron-right"></span>
    <span class="openssl-code" title="{{ include.page.error-code }}">{{ include.page.error-code | replace: "_", "_&shy;" }}</span>
    {% if include.page.verify-command and include.page.verify-cert %}
        {% include icon.html icon="certificate" float="float-right" %}
    {% endif %}
    {% if include.page.unused %}
        {% include icon.html icon="unused" float="float-right" %}
    {% endif %}
    {% if site.data.mapping[page.library][include.page.error-code] %}
        {% include icon.html icon="error-link" float="float-right" %}
    {% endif %}
    {% if include.page.new-docs %}
        {% include icon.html icon="our-docs" float="float-right" %}
    {% endif %}
</div>
<div class="collapse show" id="{{ include.page.slug }}">
    <div class="card card-body">
        {% if include.page.error-code %}
            {% assign library=site.data.libraries | where: "name", page.library | first %}

            <!-- new docs -->
            {% if include.page.new-docs %}
                <h3>{% include icon.html icon="our-docs" %}Redesigned documentation:</h3>
                {{ include.page.new-docs | markdownify }}
            {% endif %}

            {% if include.page.docs %}
                <h3>{% include icon.html icon="docs-book" %}Original documentation:</h3>
                <p>{{ include.page.docs }}<span class="text-muted">(<a class="color-reset" href="{{ library.source }}">source</a>)</span></p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}
        {% endif %}
        {% if include.page.unused %}
            <p><i><b>{% include icon.html icon="unused" %}Unused: </b>{{ include.page.unused }}</i></p>
        {% endif %}

        {% if include.page.verify-cert and include.page.verify-command %}
            <h3>{% include icon.html icon="certificate" %}Example certificate</h3>
            <p>Download the <a href="/assets/certs-archives/{{ include.page.verify-cert }}.zip">{% include icon.html icon="zip" %}certificate archive</a> and validate the contents using a command indicated below. If you are interested in generating such certificate yourself, see the generating script for this case on <a href="{{ site.repo-url }}/tree/master/assets/certs/{{ include.page.verify-cert }}">{% include icon.html icon="github" %}the project GitHub</a>.</p>
            {% if include.page.verify-command %}
                {% assign library=site.data.libraries | where: "name", page.library | first %}
                <p>Validate with: <code class="highlighter-rouge">{{ include.page.verify-command }}</code></p>
            {% endif %}
        {% endif %}
        
        {% if site.data.mapping[page.library][include.page.error-code] %}
            <h3>{% include icon.html icon="error-link" %}Corresponding errors:</h3>
            <ul class="list-unstyled mb-0">
            {% assign groups = "equal,superset,subset" | split:"," %}
            {% for group in groups %}
                {% for library in site.data.libraries %}
                    {% for error in site.data.mapping[page.library][include.page.error-code][group][library.name] %}
                        <li>
                            {% include icon.html icon=group %}
                            {{ library.title }}/<a href="/{% if library.name != "openssl" %}{{ library.name }}{% endif %}#{{ error | slugify }}-link">{{ error | lstrip }}</a>
                        </li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            </ul>
        {% endif %}
  </div>
</div>
</div>
