<div class="page-footer">
    <div class="container clearfix">
        <span class="float-left">
            &copy; 2019 <a class="no-ext-link-icon" href="https://muni.cz/">Masaryk University</a><br/>
            <a class="no-ext-link-icon" href="https://crocs.fi.muni.cz/">Centre for Research on Cryptography and Security</a>
        </span>
        <span class="float-right">
            <a lass="no-ext-link-icon" href="mailto:webmaster@x509errors.org">webmaster@x509errors.org</a><br/>
            Last change: <a class="no-ext-link-icon" href="https://github.com/crocs-muni/usable-cert-validation/commit/{{ site.git.commit_hash }}" title="commit {{ site.git.commit_hash_short }}">{{ site.git.commit_date }}</a>
        </span>
    </div>
</div>
