{% case include.icon %}
  {% when 'docs-book' %}
    <span class="fas fa-fw fa-book {{ include.float }}" title="Original documentation"></span>
  {% when 'our-docs' %}
    <span class="fas fa-fw fa-flag {{ include.float }} text-primary" title="Our documentation"></span>
  {% when 'unused' %}
    <span class="fas fa-fw fa-times {{ include.float }} color-verylightgray" title="Unused or deprecated"></span>
  {% when 'certificate' %}
    <span class="fas fa-fw fa-certificate {{ include.float }} color-verydarkgrey" title="Example certificate"></span>
  {% when 'zip' %}
    <span class="fas fa-file-archive {{ include.float }} color-verydarkgrey"></span>
  {% when 'github' %}
    <span class="fab fa-github {{ include.float }} color-verydarkgrey"></span>
  {% when 'link' %}
    <a class="fas fa-external-link-alt {{ include.float }} color-darkgrey"  href="{{ include.href }}" style="font-size: 0.65em;" title="Link to source"></a>
  {% when 'error-link' %}
    <span class="fas fa-fw fa-link {{ include.float }} color-verydarkgrey" title="Corresponding errors"></span>
  {% when 'button-bug' %}
    <span class="fas fa-fw fa-bug color-white"></span>
  {% when 'button-email' %}
    <span class="fas fa-fw fa-envelope color-white"></span>
  {% when 'message' %}
    <span class="fas fa-exclamation-triangle {{ include.float }}" ></span>
  {% else %}
    <span class="fas fa-fw fa-question {{ include.float }} color-red" title="Icon error"></span>
{% endcase %}
