{% case include.icon %}
  {% when 'openssl-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-firebrick" title="OpenSSL documentation"></span>
  {% when 'gnutls-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-cornflowerblue" title="GnuTLS documentation"></span>
  {% when 'botan-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-green" title="Botan documentation"></span>
  {% when 'mbed-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-gold" title="mbedTLS documentation"></span>
  {% when 'unused' %}
    <span class="fas fa-fw fa-times {{ include.float }} color-verylightgray" title="Unused or deprecated"></span>
  {% when 'certificate' %}
    <span class="fas fa-fw fa-certificate {{ include.float }} color-verydarkgrey" title="Example certificate"></span>
  {% when 'zip' %}
    <span class="fas fa-file-archive {{ include.float }} color-verydarkgrey"></span>
  {% when 'github' %}
    <span class="fab fa-github {{ include.float }} color-verydarkgrey"></span>
  {% when 'link' %}
    <a class="fas fa-external-link-alt {{ include.float }} color-darkgrey"  href="{{ include.href }}" style="font-size: 0.65em;" title="Link to source"></a>
  {% when 'error-link' %}
    <span class="fas fa-fw fa-link {{ include.float }} color-verydarkgrey" title="= Equal error&#10;> Linked error covers a subset of cases&#10;< Linked error covers a superset of cases"></span>
  {% when 'equal' %}
    <span class="fas fa-fw fa-equals {{ include.float }}" title="This error is equal to the current error"></span>
  {% when 'subset' %}
    <span class="fas fa-fw fa-greater-than {{ include.float }}" title="This error is a subset of the current error"></span>
  {% when 'superset' %}
    <span class="fas fa-fw fa-less-than {{ include.float }}" title="This error is a superset of the current error"></span>
  {% when 'button-bug' %}
    <span class="fas fa-fw fa-bug color-white"></span>
  {% when 'button-table' %}
    <span class="fas fa-fw fa-table color-white"></span>
  {% when 'button-methodology' %}
    <span class="fas fa-fw fa-project-diagram color-white"></span>
  {% when 'button-email' %}
    <span class="fas fa-fw fa-envelope color-white"></span>
  {% else %}
    <span class="fas fa-fw fa-question {{ include.float }} color-red" title="Icon error"></span>
{% endcase %}
