<div class="section"><div class="container">
    <h1 id="home">{{ page.title }}</h1>
    <div class="lead">
        <p>Our goal is to simplify the ecosystem by consolidating the errors and their documentation (similarly to <a href="https://blog.mozilla.org/blog/2017/10/18/mozilla-brings-microsoft-google-w3c-samsung-together-create-cross-browser-documentation-mdn/">web documentation</a>) and better explaining what the validation errors mean.</p>
        <div class="collapse multi-collapse show" id="collapsed-text">
            <p>Correctly validating X.509 certificates turns out to be pretty complicated (e.g., <a href="http://www.cs.utexas.edu/~shmat/shmat_ccs12.pdf">Georgiev2012</a>, <a href="https://crocs.fi.muni.cz/papers/acsac2019">Ukrop2019</a>). Yet certificate validation is crucial for secure communication on the Internet (think <a href="https://en.wikipedia.org/wiki/Transport_Layer_Security">TLS</a>).</p>
            <p>For every error, we aim to provide our redesigned documentation ({% include icon.html icon="our-docs" %}), an example certificate ({% include icon.html icon="certificate" %}), original documentation provided by the library ({% include icon.html icon="docs-book" %}, unused or deprecated errors denoted by {% include icon.html icon="unused" %}). Furthermore, we provide links to corresponding errors from other libraries ({% include icon.html icon="error-link" %}). In the future, we plan on adding error frequencies based on IP-wide scans and elaborating on the consequences of individual errors.</p>
            <p class="text-center">
                <a class="btn btn-primary" href="/faq">
                    See more in FAQ
                </a>
            </p>
        </div>
        <div class="fadeout" id="intro-fadeout" hidden></div>
        <p class="collapse multi-collapse text-center" id="intro-button">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="collapseExample" onclick="hideIntroFadeout()">
                <span class="fa fa-fw fa-chevron-down"></span> Open to read more
            </button>
            {% assign guides = site.guides | where: "slug", page.library %}
            {% for guide in guides %}
                {% assign library = site.data.libraries | where: "name", page.library | first %}
                <a class="btn btn-primary" href="/guides/{{ page.library }}"><span class="fas fa-fw fa-file-code"></span> See TLS guide for {{ library.title }}</a>
            {% endfor %}
        </p>
    </div>
</div></div>
