<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="fa-stack">
                <span class="fas fa-fw fa-lg fa-certificate fa-stack-1x color-verydarkgrey"></span>
                <span class="fas fa-fw fa-xs fa-check fa-stack-1x color-white"></span>
            </span>
            {{ page.title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Show/hide navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.library %}#home{% else %}/#home{% endif %}">Intro</a>
                </li>
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Libraries</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% for library in site.data.libraries %}
                          <a class="dropdown-item" href=
                          "{% if page.library != library.name %}/{% if library.name != 'openssl' %}{{ library.name }}{% endif %}{% endif %}#{{ library.name }}">
                          {{ library.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Guides</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% for library in site.data.libraries %}
                            {% assign guides = site.guides | where: "slug", library.name %}
                            {% for guide in guides %}
                                <a class="dropdown-item" href="{% if page.title != guide.title %}/guides/{{ guide.slug }}{% else %}#{{ guide.slug }}{% endif %}">
                                {{ library.title }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug != 'faq' %}/faq{% else %}#faq{% endif %}">FAQ</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug == 'faq' %}/{% endif %}#about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% if jekyll.environment != "production" %}
<div id="dev-warning" class="alert-warning mb-0">
    <p>
        <a id="devWarningToggle" class="collapsed" data-toggle="collapse" href="#devWarningDetails" >
            <i class="fas fa-fw fa-code"></i>Development version<i class="fas fa-fw fa-chevron-down"></i>
        </a>
    </p>
    <p class="collapse" id="devWarningDetails">Compared to production, web analytics does not run, cache validity is down to 5 minutes and website issues are not reported to URIports.</p>
</div>
{% endif %}
