<div class="error-box">
<div class="card-header clearfix" data-toggle="collapse" href="#{{ include.page.slug }}" role="button" aria-expanded="true" aria-controls="#{{ include.page.slug }}">
    <span class="fa fa-fw fa-chevron-down"></span> <span class="fa fa-fw fa-chevron-right"></span>
    <span class="openssl-code" title="{{ include.page.openssl-code }}">{{ include.page.title }}</span>
    {% if include.page.verify-openssl %}
        {% include icon.html icon="certificate" float="float-right" %}
    {% endif %}
    {% if include.page.unused-openssl %}
        {% include icon.html icon="unused-openssl-icon" float="float-right" %}
    {% endif %}
    {% if include.page.mbed-code %}
        {% include icon.html icon="mbed-book" float="float-right" %}
    {% endif %}
    {% if include.page.botan-code %}
        {% include icon.html icon="botan-book" float="float-right" %}
    {% endif %}
    {% if include.page.gnutls-code %}
        {% include icon.html icon="gnutls-book" float="float-right" %}
    {% endif %}
    {% if include.page.openssl-code %}
        {% include icon.html icon="openssl-book" float="float-right" %}
    {% endif %}
</div>
<div class="collapse show" id="{{ include.page.slug }}">
    <div class="card card-body">
        {% if include.page.verify-openssl %}
        <h3>{% include icon.html icon="certificate" %}Example certificate</h3>
        <p>Download <a href="/assets/certs/{{ include.page.openssl-code }}.zip">{% include icon.html icon="zip" %}the certificate archive</a>. If you are interested in generating such certificate yourself, see the generating script for this case on <a href="{{ site.repo-url }}/tree/master/errors/{{ include.page.openssl-code }}">{% include icon.html icon="github" %}the project GitHub</a>. To get the validation error, run the command as indicated below.</p>
        <ul>
            {% if include.page.verify-openssl %}
            <li>OpenSSL: <code class="highlighter-rouge">{{ include.page.verify-openssl }}</code></li>
            {% endif %}
            {% if include.page.verify-gnutls %}
            <li>GnuTLS: <code class="highlighter-rouge">{{ include.page.verify-gnutls }}</code></li>
            {% endif %}
            {% if include.page.verify-botan %}
            <li>Botan: <code class="highlighter-rouge">{{ include.page.verify-botan }}</code></li>
            {% endif %}
            {% if include.page.verify-mbedtls %}
            <li>mbedTLS: <code class="highlighter-rouge">{{ include.page.verify-mbedtls }}</code></li>
            {% endif %}

        </ul>
        {% endif %}
        {% if include.page.openssl-code %}
            <h3>
            {% include icon.html icon="openssl-book" %}
            OpenSSL: {{ include.page.title }}
            <span class="text-muted small">(<a class="color-reset" href="https://www.openssl.org/docs/man1.1.1/man1/openssl-verify.html">source</a>)</span>
            </h3>
            {% if include.page.openssl-docs %}
                <p>{{ include.page.openssl-docs }}</p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}
        {% endif %}
        {% if include.page.gnutls-code %}
            <h3>
            {% include icon.html icon="gnutls-book" %}
            GnuTLS: {{ include.page.gnutls-code }}
            <span class="text-muted small">(<a class="color-reset" href="https://www.gnutls.org/manual/gnutls.html#index-verifying-certificate-paths">source</a>)</span>
            </h3>
            {% if include.page.gnutls-docs %}
                <p>{{ include.page.gnutls-docs }}</p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}
        {% endif %}
        {% if include.page.botan-code %}
            <h3>
            {% include icon.html icon="botan-book" %}
            Botan: {{ include.page.botan-code }}
            <span class="text-muted small">(<a class="color-reset" href="https://botan.randombit.net/doxygen/cert__status_8cpp_source.html">source</a>)</span>
            </h3>
            {% if include.page.botan-docs %}
                <p>{{ include.page.botan-docs }}</p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}
        {% endif %}
        {% if include.page.mbed-code %}
            <h3>
            {% include icon.html icon="mbed-book" %}
            mbedTLS: {{ include.page.mbed-code }}
            <span class="text-muted small">(<a class="color-reset" href="https://github.com/ARMmbed/mbedtls/blob/master/library/x509_crt.c#L1666">source</a>)</span>
            </h3>
            {% if include.page.mbed-docs %}
                <p>{{ include.page.mbed-docs }}</p>
            {% else %}
                <p class="color-mediumdarkgrey font-italic">(No detailed documentation provided by the library.)</p>
            {% endif %}
        {% endif %}
  </div>
</div>
</div>
