<div class="error-box-header card-header collapsed" data-toggle="collapse" href="#{{ include.page.slug }}" role="button" aria-expanded="false" aria-controls="collapseExample">
    <span class="fa fa-fw fa-chevron-down"></span> <span class="fa fa-fw fa-chevron-right"></span>
    <span>{{ include.page.title }}</span>
    {% if include.page.verify-openssl %}
    <span class="fa fa-fw fa-certificate float-right" title="Example certificate available"></span>
    {% endif %}
    {% if include.page.gnutls-docs %}
    <span class="fa fa-fw fa-book float-right" style="color: cornflowerblue" title="GnuTLS documentation available"></span>
    {% endif %}
    {% if include.page.openssl-docs %}
    <span class="fa fa-fw fa-book float-right" style="color: firebrick" title="OpenSSL documentation available"></span>
    {% endif %}
</div>
<div class="collapse" id="{{ include.page.slug }}">
    <div class="card card-body">
        {% if include.page.openssl-docs %}
        <h4>OpenSSL documentation</h4>
            {{ include.page.openssl-docs }}
        {% endif %}
        {% if include.page.gnutls-code %}
        <h4>GnuTLS: {{ include.page.gnutls-code }}</h4>
            {{ include.page.gnutls-docs }}
        {% endif %}
        {% if include.page.verify-openssl %}
        <a class="btn btn-secondary" target="_blank" href="{{ site.repo-url }}/tree/master/errors/{{ include.page.title }}">Generating script here</a>
        <a class="btn btn-secondary" target="_blank" href="{{ site.url }}/assets/certs/{{ include.page.title }}.zip">Ready certs here</a>
        {% endif %}
        {% if include.page.verify-openssl %}
        <br>
        Verification in OpenSSL: {{ include.page.verify-openssl }}
        {% endif %}
  </div>
</div>