{% case include.icon %}
  {% when 'openssl-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-firebrick" title="OpenSSL documentation"></span>
  {% when 'gnutls-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-cornflowerblue" title="GnuTLS documentation"></span>
  {% when 'botan-book' %}
    <span class="fas fa-fw fa-book {{ include.float }} color-green" title="Botan documentation"></span>
  {% when 'certificate' %}
    <span class="fas fa-fw fa-certificate {{ include.float }} color-verydarkgrey" title="Example certificate"></span>
  {% when 'zip' %}
    <span class="fas fa-file-archive {{ include.float }} color-verydarkgrey"></span>
  {% when 'github' %}
    <span class="fab fa-github {{ include.float }} color-verydarkgrey"></span>
  {% when 'link' %}
    <a class="fas fa-external-link-alt {{ include.float }} color-darkgrey"  href="{{ include.href }}" style="font-size: 0.65em;" title="Link to source"></a>
  {% when 'button-github' %}
    <span class="fab fa-fw fa-github color-white"></span>
  {% when 'button-table' %}
    <span class="fas fa-fw fa-table color-white"></span>
  {% when 'button-methodology' %}
    <span class="fas fa-fw fa-project-diagram color-white"></span>
  {% else %}
    <span class="fas fa-fw fa-question {{ include.float }} color-red" title="Icon error"></span>
{% endcase %}
