<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="fa-stack">
                <span class="fas fa-fw fa-lg fa-certificate fa-stack-1x color-verydarkgrey"></span>
                <span class="fas fa-fw fa-xs fa-check fa-stack-1x color-white"></span>
            </span>
            {{ site.title }}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Show/hide navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug != 'index' %}/{% endif %}#home">Intro</a>
                </li>
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Errors</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        {% for category in site.data.errors %}
                          <a class="dropdown-item" href="{% if page.slug != 'index' %}/{% endif %}#{{ category.title | slugify }}">{{ category.title }}</a>
                        {% endfor %}
                    </div>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug == 'index' %}/methodology{% else %}#methodology{% endif %}">Methodology</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" href="{% if page.slug != 'index' %}/{% endif %}#about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
