# X.509 Certificate options

# The common name of the certificate owner.
cn = "Usable cert validation: X509_V_ERR_INVALID_CA"

# The country of the subject. Two letter code.
country = CZ
# The organization of the subject.
organization = "Masaryk University"
# The organizational unit of the subject.
unit = "Centre for Research on Cryptography and Security"

# In how many days, counting from today, this certificate will expire.
# Use -1 if there is no expiration date.
expiration_days = 365

# Whether this certificate will be used to sign data (needed
# in TLS DHE ciphersuites). This is the digitalSignature flag
# in RFC5280 terminology.
signing_key

# Whether this certificate will be used to encrypt data (needed
# in TLS RSA ciphersuites). Note that it is preferred to use different
# keys for encryption and signing. This is the keyEncipherment flag
# in RFC5280 terminology.
encryption_key
