# X.509 Certificate options

# The common name of the certificate owner.
cn = "Usable cert validation: CERT_HAS_EXPIRED"

# The country of the subject. Two letter code.
country = CZ
# The organization of the subject.
organization = "Masaryk University"
# The organizational unit of the subject.
unit = "Centre for Research on Cryptography and Security"

# Alternatively you may set concrete dates and time. The GNU date string 
# formats are accepted. See:
# https://www.gnu.org/software/tar/manual/html_node/Date-input-formats.html

activation_date = "2000-01-01 00:00:00"
expiration_date = "2000-01-31 23:59:59"

# Whether this certificate will be used to sign data (needed
# in TLS DHE ciphersuites). This is the digitalSignature flag
# in RFC5280 terminology.
signing_key

# Whether this certificate will be used to encrypt data (needed
# in TLS RSA ciphersuites). Note that it is preferred to use different
# keys for encryption and signing. This is the keyEncipherment flag
# in RFC5280 terminology.
encryption_key
