<!doctype html>
<html lang="en">
<head>
  {% include header.html %}
</head>
<body data-spy="scroll" data-target="#navbar" data-offset="100">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGPN2QG"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  {% include navigation.html %}
  <main role="main">
    {{ content }}
  </main>
  {% include feedback.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
